[submodule "AccountService"]
	path = AccountService
	url = https://github.com/developKmv/AccountService.git
[submodule "ReflectionCacheService"]
	path = ReflectionCacheService
	url = https://github.com/developKmv/ReflectionCacheService.git
[submodule "CacheServiceThread"]
	path = CacheServiceThread
	url = https://github.com/developKmv/CacheServiceThread.git
[submodule "TaskFourSpring"]
	path = TaskFourSpring
	url = https://github.com/developKmv/TaskFourSpring.git
[submodule "corporate-settlemen"]
	path = corporate-settlemen
	url = https://github.com/developKmv/corporate-settlemen
